body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

nav {
	padding: 0 1rem;
}

nav .brand-logo {
	font-size: 1.8rem;
}

.root {
	background-color: #efebe9;
}
.container {
	width: 100%;
}
.content {
	min-height: calc(100vh - 42px - 64px);
	padding: 1.5rem 1rem;
}

.movie:not(:last-child) {
	justify-content: center;
}
.movies {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 2rem;
}

.search-btn {
	position: absolute;
	top: 0;
	right: 1rem;
}

label:not(:last-child) {
	margin-right: 2rem;
}
